<% include ./partials/header.ejs %>
<p>FEEDBACK PAGE</p>
<% feedback.forEach(function(feedback){ %>
    <div class="card card-body mt-3 mb-3">
        <h4><%= feedback.firstName %></h4>
        <h4><%= feedback.lastName %></h4>
        <h4><%= feedback.email %></h4>
        <h4><%= feedback.favFood %></h4>
        <h4><%= feedback.fact %></h4>
        <h4><%= feedback.comment %></h4>
    </div>
<% })%>
<% include ./partials/footer.ejs %>